@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */

.cl-internal-qk5yrq {
    width: 100%;
    box-shadow: none !important;
    border: 2px solid #ece9e9 !important;
  }

  .cl-internal-1p733cp{
    width: 100%;
  }
  
.cl-internal-1tpvhd8 {  
    font-size: 29px;
}

.cl-formButtonPrimary {
    font-size: 14px;
    text-transform: none;
    background-color: #E95F62;
   
  }
  
  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:focus,
  .cl-formButtonPrimary:active {
    background-color: #c72d2f;
  }
 